body {
  font-family: "Montserrat"
}

h1 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5
}

h2{
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;

}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

em {
  color: #fff;
}
/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

#title {
  background-color: #ff4c68;
}

/* Download Buttons */

.btn-download {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(30deg);
  position: absolute;
  right: 35%;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Check-circle, bullseye and heart */

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
/* Features Section */

#features {
  padding: 10% 15%;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feat-h3 {

}

.feat-p {
  color: #8f8f8f;
}

.feat-box {
  padding: 5%;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  text-align: center;
}

.carousel-item {
  padding: 10% 15%;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 10px;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}

.press-img {
  width: 15%;
  margin: 10px 20px 50px;
}

/* Price Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.price-h2 {
  color: #000;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.price-h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.price-col {
  padding: 3% 2%;
}

/* Call To Action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 15% 7%;
}

.cta-h3 {
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% 15% 7%;
}

.footer-icons {
  margin: 2rem 1rem;
}

.facebook:hover {
  color: #4267b2;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram:hover {
  color: #3f729b;
}

.mail:hover {
  color: #f00;
}

@media (max-width:1028px) {

  .title-image {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}
